@font-face {
  font-family: "LineAwesome";
  src: url("../static/fonts/line-awesome/font.eot");
  src:
    url("../static/fonts/line-awesome/font.eot") format("embedded-opentype"),
    url("../static/fonts/line-awesome/font.woff2") format("woff2"),
    url("../static/fonts/line-awesome/font.woff") format("woff"),
    url("../static/fonts/line-awesome/font.ttf") format("truetype"),
    url("../static/fonts/line-awesome/font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LineAwesome";
    src: url("../static/fonts/line-awesome/font.svg") format("svg");
  }
}
