#aside {
  min-width: 12em;
  background: #fff;

  @media screen and (max-width: 1199px) {
    position: fixed !important;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform: translate3d(100%, 0, 0);
    z-index: 10;

    &.is-shown {
      transform: translate3d(0, 0, 0);
    }
  }
}
