#post {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 1em;

    & + h4 {
      margin-top: 0;
    }
  }

  h2 {
    &:not(:first-child) {
      margin-top: 3em;
    }

    margin-bottom: 1em;

    & + h3 {
      margin-top: 0;
    }
  }

  p, ul, pre {
    margin: 1.5em 0;
  }

  p, ul {
    color: hsla(210, 40%, 15%, 0.7);
  }

  ul li + li,
  ol li + li {
    margin-top: 0.5em;
  }

  pre {
    padding: 2em;
  }

  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
}
